<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Welcome to the clone of Regex101 website.</title>
    <style>
        body {background-color: Red;}
        div {background-color: Yellow;}
         h1 {background-color: Green;}

    </style>
</head>

<body>
    <div class="logo">
        <h1 class="title"><center>Innomatics Research Labs</center></h1>
    </div>

    <div class="form">
        <h1 class-"project_title"><center>CLONE OF REGEX 101 </center></h1>
        <form action="" method="POST">
            <center><label for="expression">Regular expression : </label></center>
            <center><input type="text" name="expression" id="expression" placeholder="Type the regex expression here"></center>
            <br>
            <br>
            <center><label for="find_string">Test String :</label></center>
            <center><input type="textarea" name="find_string" id="find_string" placeholder="Type the test string here"></center>
            <br>
            <center><button type="submit" class="button"> Submit </button></center>
        </form>
        <br>
        <br>
        <center>{{res}}</center>
    </div>


</body>
</html>
